<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4DA5F4">
    <meta name="csrf-token" content="<%= _csrf %>">
    <title>아이디어로또</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <script src="/js/main.js"></script>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">아이디어로또</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user==undefined) { %>
        <li>
<a href="/auth/facebook" style="color:#3b5998;">Signup or Signin with Facebook</a>
        </li>

        <li></li>
        <% } %>
        <% if(user) { %>
          <%if(user.level == 9 ){%>
          <li><a href="/adminpage">admin</a></li>
          <%}%>
          <li><a href="/account"><img src="<%= user.profile.picture %>" alt=""><%= user.profile.name %></a></li>
          <li><a href="/refillmoney"> <%= user.id %>원</a></li>
          <li><a href="/account"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
          <li><a href="/logout">Logout</a></li>
<% } %>
      </ul>
    </div>
  </div>
</div>
<div class="fluid-container">

    <div class="fluid-container" style="width:100%; height:1000px;background:url(http://www.massingenuity.com/wp-content/uploads/2012/08/Aligning-Stars.jpg)">

        <br/><br/><br/>
      <div class="jumbotron">
        <div style="margin-left:20%">
          <h1>아이디어로또</h1>
            <p>아이디어를 등록하고 익명유저들에게 객관적인 평가를 받아보세요.</p>
        </div>

      </div>


        <div class="col-md-4" style="margin-left:25%;background-color:#FFB400; border-radius:10px;width:50%;height:auto;" >
          <% if(data) { %>
        <h1 style="color:#d9534f;">아이디어 로또</h1>
        <%if(user){%>
        <form action="/input_wish" method="post">
            <input type="hidden" name="_csrf" value="<%=_csrf%>">
          <input type="hidden" name="user" value="<%= user.id %>">
          <input type="hidden" name="username" value="<%= user.profile.name %>">
            <p>아이디어 or 서비스 이름  <input type="text" name="name"></p>
           <p>설명(간략한 elevator pitch)<input type="text" name="description"></p>
                      <input style="width:200px;height:40px;" type="submit" value="등록">
        </form>
        <%} else { %>
          <% } %>
        <h2>최신 리스트</h2>
          <% for (var i = 0; i < data.length; i++) { %>
            <% if (data[i].live==true){ %>
        <h4 style="text-align: center;">
            <p></p><a href="/idea/<%= data[i].id %>"><%= data[i].name %> </a>
            <p><%= data[i].description %> </p>
            <p><%= data[i].user %> </p>
            <p><%= data[i].username %> </p>
            <p><%= data[i].live %> </p>
        <%if(user){%>
            <% if(user.id==data[i].user){ %>
            <form action="/deletewish" method="post">
                <input type="hidden" name="_csrf" value="<%=_csrf%>">
                <input type="hidden" name="id" value="<%= data[i].id %>">
                    <input type="submit" value="삭제">
            </form>
            <% } else {%>
            <% } %>
            <% } else {%>
            <% } %>
        <% } else {%>
        <% } %>
          </h4>
        <% } %>

          <% } else { %>
            <% } %>
        </div>


    </div>




    <div class="col-md-12" style="height:50px; width:100%; text-align:center;">


    </div>

  </body>
</html>
